// ================
// display for body
// ================

#ahid-body {
    padding: 0;
    background: #fafbfc;
    color: black;
    border-left: 1px solid #dfe2e0;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 8px;

        &-track {
            border-radius: 4px;
        }

        &-thumb {
            background-color: #a8a8a8;
            border-radius: 4px;

            &:hover {
                background-color: gray;
            }
        }
    }
}

// ===================================
// display for message and list and hr
// ===================================

#ahid-message,
#ahid-list {
    padding: 10px 10px 7px 10px;
}

#ahid-message {
    word-break: break-word;
}

#ahid-list {
    list-style-type: none;

    li {
        word-break: break-all;
    }
}

hr.ah-hr {
    margin: 7px 0;
}

.ah-body-hide {
    display: none !important;
}

// ==========================
// display for content header
// ==========================

.ah-content-header {
    $g: &;

    &-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        color: black;

        #{$g}-left {
            flex: 1 1 auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #{$g}-icon {
            vertical-align: middle;
            border-radius: 50%;
        }

        #{$g}-avatar {
            display: inline-block;
            height: 24px;
        }

        #{$g}-link {
            margin-left: 3px;
        }

        #{$g}-event {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            background: #eaeef2; // #e1e4e8
            height: 26px;
            width: 26px;
            margin: -2px -2px 0 3px;
        }

        #{$g}-old-icon {
            background: #e1e4e8 !important;
        }
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 10.5px;
        margin: 5px 0px 5px 0px;
        color: gray;

        #{$g}-time {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline;

            padding-top: 1px;
            line-height: 1;
        }

        #{$g}-private {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            background: transparent;
            padding: 3px 4px 1px 4px;
            margin-left: 4px;
            border: 1px solid rgba(27, 31, 35, 0.15);
            border-radius: 2px;
            line-height: 1;
        }
    }
}

// ========================
// display for content body
// ========================

.ah-content-body {
    &-title {
        font-size: 13px;
    }

    &-sub {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;

        -webkit-line-clamp: 1;
        font-size: 11px;
        color: gray;
    }

    &-subtitle {
        margin: 2px 0 4px 0;
        padding-left: 5px;
        padding-top: 1px;
        border-left: 3px solid rgb(197, 197, 197);
    }

    &-subcontent {
        -webkit-line-clamp: 2 !important;
    }

    &-commit-wiki {
        margin-left: 1px;
    }
}
