@import "header.scss";
@import "body.scss";
@import "footer.scss";

// ==========================
// size and position for tags
// ==========================

#ahid-toggle {
    width: 30px;
    height: 80px;

    position: fixed;
    top: calc(50% - 45px);
    left: calc(100% - 27px);
    z-index: 91;

    &.ah-toggle-hide {
        left: calc(100% + 2px);
    }
}

#ahid-nav {
    $min-width: 180px;
    $max-width: 750px;
    width: $min-width;
    min-width: $min-width;
    max-width: $max-width;
    height: 100%;

    position: fixed;
    top: 0;
    right: -$min-width;
    z-index: 90;

    &.ah-nav-open {
        right: 0px;
    }
}

$head-height: null;

#ahid-header {
    $head-height: 64px !global;
    height: $head-height;
}

$foot-height: null;

#ahid-footer {
    $foot-height: 30px !global;
    height: $foot-height;
}

#ahid-body {
    height: calc(100% - #{$head-height + 1px});

    div,
    ul {
        min-height: calc(100% - #{$foot-height});
    }
}

// =======================
// display for toggle, nav
// =======================

#ahid-nav {
    background: #fafbfc;
    font-family: sans-serif;
    font-size: 13px;
    font-style: normal;

    &.ah-shadow {
        box-shadow: rgba(118, 118, 118, 0.11) 0px 0px 5px 3px;
    }
}

#ahid-toggle {
    padding: 6px;
    background: #f2f5f7;
    border: 1px solid #e0e4e7;
    border-right: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 1;

    &.ah-shadow {
        box-shadow: rgba(118, 118, 118, 0.11) 0px 0px 3px 2px;
    }

    svg,
    span {
        display: inline-block;
        position: relative;
    }

    svg {
        top: 3px;
        left: -1px;
    }

    span {
        top: 19px;
        left: -14px;
        font-family: sans-serif;
        font-size: 13px;
        transform: rotate(90deg);
    }
}

.ah-animated {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

// ======================================
// position and display for resize handle
// ======================================

.ui-resizable-handle {
    width: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: col-resize;
}
