#ahid-footer {
    margin-bottom: -1px;
    padding: 6px 0 4px 0;

    background: #f1f8ff;
    border: 1px solid #c8e1ff;

    a {
        display: block;
        text-align: center;
    }
}

#ahid-loading {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
