// ==================
// display for header
// ==================

$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

#ahid-header {
    padding: 10px 12px;
    background: #373e43;
    color: white;
}

#ahid-header-toast {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 64px;
    width: 100%;
    padding: 2px 4px;

    color: black;
    background: yellow;
    border: #373e43 solid 1px;
    font-family: $body-font-family;
    font-size: 13px;
    text-overflow: ellipsis;
    opacity: 1;

    #ahid-header-toast-x {
        position: absolute;
        top: calc(100% - 20px);
        left: calc(100% - 12px);
        z-index: 2;

        font-family: $body-font-family;
        font-size: 13px;
        cursor: pointer;
    }
}

// ==============================
// display for title and subtitle
// ==============================

#ahid-title,
#ahid-subtitle {
    display: block;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    svg {
        display: inline-block;
        vertical-align: middle;
    }
}

#ahid-title {
    margin-top: 4px;
    font-size: 12.5px;

    a:-webkit-any-link {
        color: white;
    }

    svg {
        margin-top: -5px;
        margin-right: -3px;
        color: white;
    }
}

#ahid-subtitle {
    margin-top: 6px;
    font-size: 9.5px;

    a:-webkit-any-link {
        color: #acacac;
    }

    svg {
        margin-top: -2px;
        margin-right: 1px;
        fill: #acacac;
    }
}

// =================================
// position and display for commands
// =================================

#ahid-commands {
    position: absolute;
    top: 39px;
    left: 12px;

    a,
    details {
        display: inline;
        position: relative;
        text-decoration: none;
    }

    svg {
        fill: #999999;

        &:hover {
            fill: white;
        }
    }
}

#ahid-commands details {
    summary {
        list-style: none;
    }

    details-menu {
        top: 24px;
        right: -11.8px;
        z-index: 99;
        width: 460px;

        label,
        a,
        button {
            display: block;
            font-family: $body-font-family;
            font-weight: 400 !important;

            svg {
                margin-right: 5px;
                fill: currentColor;
            }
        }

        .ah-checkable {
            svg {
                display: none;
            }

            &.ah-enabled svg {
                display: inline-block;
            }
        }

        .dropdown-divider {
            margin: 4px 0;
        }
    }
}

#ahid-pin {
    left: 0;

    &.ah-pined svg {
        fill: white;
        transform: rotate(0);
    }

    svg {
        transform-origin: center;
        transform: rotate(45deg);
    }
}

#ahid-refresh {
    left: 1px;
}

#ahid-setting {
    left: 1px;
    top: -2px;
}

.ah-hover-underline {
    text-decoration: none;

    &:hover {
        text-decoration: underline !important;
        color: #79b7ff;
    }
}
