#ahid-head {
    $head-height: 62px !global;
    height: $head-height;
    background: #373E43;
    padding: 10px 12px;
    color: white;

    a:-webkit-any-link {
        color: white;
    }
}

// title

.ah-head-title div {
    display: block;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    svg {
        margin-right: 1px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -1px;
    }
}

#ahid-title {
    font-size: 12px;
    margin-top: 3px;

    span {
        margin-right: -3px;
    }

    svg {
        margin-top: -2px;
    }
}

#ahid-subtitle {
    font-size: 8px;
    margin-top: 6px;

    span svg {
        fill: #ACACAC;
    }

    a span {
        color: #ACACAC;
    }
}

// command

.ah-head-command a {
    position: absolute;
    top: 41px;
    font-size: 8px;

    svg {
        fill: #999999;

        &:hover {
            fill: white;
        }
    }

    &#ahid-pin {
        &.ah-pined svg {
            fill: white;
            transform: rotate(0);
        }

        svg {
            transform-origin: center;
            transform: rotate(45deg);
        }
    }
}

#ahid-pin {
    left: 12px;
}

#ahid-feedback {
    left: 28px;
}

#ahid-refresh {
    left: 44px;
    margin-top: -1px;
}

#ahid-setting {
    left: 61px;
    margin-top: 0px;
}